<div class="modal">
  <h3>Purchase confirmation</h3>
  You want to buy <strong>{{model.title}}</strong> by {{model.author.name}}.

  <p>
    <button {{action 'close'}}>Purchase for ${{model.price}}!</button>
  </p>

  <p>
    <em>Thank you! We will e-mail you your e-book</em>
  </p>

</div>