<ul>
  {{#each model as |book|}}
    {{book-cover book=book blurBackground=(route-action "blurBackground")}}
  {{/each}}
</ul>

{{#if showAll}}
  <button {{action 'showAll'}}>Show All</button>
{{/if}}