<ul>
  {{#each model as |book|}}
  <a href="#" {{action 'openCheckoutModal' book}}>
    <li>
      <strong>{{book.title}}</strong><br><br>
      <em>by</em>
      {{#link-to 'author' book.author class="author" bubbles=false }}{{book.author.name}}{{/link-to}}
    </li>
  </a>
  {{/each}}
</ul>

{{#if showAll}}
  <button {{action 'showAll'}}>Show All</button>
{{/if}}